<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <title>NemPubMed | Videncenter for Diabetes</title>
    <link
      rel="alternate"
      hreflang="da"
      href="https://videncenterfordiabetes.dk/forskning/find-forskning/nempubmed"
    />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, width=device-width"
    />

    <link
      href="https://videncenterfordiabetes.dk/assets/css/icons.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="https://videncenterfordiabetes.dk/assets/css/module-styles.css"
      rel="stylesheet"
      media="all"
      data-style="module style"
    />
    <link
      href="https://videncenterfordiabetes.dk/assets/css/identity-videncenter-for-diabetes.css"
      rel="stylesheet"
      media="all"
      data-style="identity-videncenter-for-diabetes"
    />
    <link
      href="https://videncenterfordiabetes.dk/assets/css/sleeve-default.css"
      rel="stylesheet"
      media="all"
      data-style="sleeve-default"
    />
    <link
      href="https://videncenterfordiabetes.dk/assets/css/print.css"
      rel="stylesheet"
      media="print"
    />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://videncenterfordiabetes.dk/Scripts/picturefill.min.js"></script>
    <script src="https://videncenterfordiabetes.dk/Scripts/lazysizes.min.js"></script>
    <script src="https://videncenterfordiabetes.dk/Scripts/ls.unveilhooks.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <script src="https://videncenterfordiabetes.dk/assets/js/vendor.js"></script>
    <script src="https://videncenterfordiabetes.dk/assets/js/app.js"></script>

    <style>
      :root {
        --color-primary: #3d5068;
        --color-primary-text: #ffffff;
        --color-secondary: #9ac5d5;
        --color-secondary-text: #000000;
        --color-tertiary: #4d6687;
        --color-tertiary-text: #ffffff;
        --color-primary-decorative: #bcd9e3;
        --color-primary-decorative-text: #000000;
        --color-secondary-decorative: #b01a00;
        --color-secondary-decorative-text: #ffffff;
        --color-footer: #43484f;
        --color-footer-text: #ffffff;
        --color-link: #0300d1;
        --color-tag: #323c75;
        --color-black: #000;
        --color-white: #fff;
        --color-grey-light: #f4f4f4;
        --color-grey-medium: #cfd1d3;
        --color-grey-dark: #43484f;
        --color-body: #f4f4f4;
        --color-body-text: var(--color-black);
      }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-multiselect@2.1.6/dist/vue-multiselect.min.css"
    />
  </head>
  <body>
    <p
      style="
        font-size: large;
        font-weight: bold;
        background-color: #43484f;
        color: #ffffff;
        padding: 10px;
      "
    >
      Eksempel med en simpel søgning på 'diabetes[mh]' (viser de første 3 resultater):
    </p>
    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids=""
      data-query="diabetes[mh]"
      data-query-results="2"
      data-sort-method="date_desc"
      data-hide-buttons="false"
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="1"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
      data-use-translate-title="true"
    ></div>

    <p
      style="
        font-size: large;
        font-weight: bold;
        background-color: #43484f;
        color: #ffffff;
        padding: 10px;
      "
    >
      Eksempel på brug af use-translate-title:
    </p>
    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="33313987"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date=""
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="1"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
      data-use-translate-title="false"
    ></div>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids=""
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons="true"
      data-show-date="false"
      data-date=""
      data-title="National behandlingsvejledning: Diabetes og hjertesygdom"
      data-booktitle=""
      data-vernaculartitle=""
      data-authors="Pietraszek A, Bojer AS, Søndergaard E, Wiggers H, Hansen KB, Bjerregaard-Andersen M, Jørgensen PG"
      data-source="Dansk Cardiologisk Selskab; 2024 [online]"
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link="https://nbv.cardio.dk/diabetes"
      data-hyper-link-text="Læs behandlingsvejledningen"
      data-sectioned-abstract=""
      data-component-no=""
      data-shown-six-authors=""
      data-show-altmetric-badge="false"
      data-show-dimensions-badge="false"
      data-use-translate-title="false"
    ></div>

    <!--
    
    <p
      style="
        font-size: large;
        font-weight: bold;
        background-color: #43484f;
        color: #ffffff;
        padding: 10px;
      "
    >
      Eksempel på manuel indsættelse af data for artikel uden PMID:
    </p>
    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids=""
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons="false"
      data-show-date="true"
      data-date="21. september 2009"
      data-title="Personalized care planning for diabetes: policy lessons from systematic reviews of consultation and self-management interventions."
      data-booktitle=""
      data-vernaculartitle=""
      data-authors="Graffy J, Eaton S, Sturt J, Chadwick P"
      data-source="Primary Health Care Research & Development. Cambridge University Press; 2009;10(3):210–22"
      data-abstract=""
      data-doi="10.1017/S1463423609001157"
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract='{
        "Aim": "To determine whether a process of care planning for people with diabetes, combining a patient-centred approach by practitioners with measures to promote self-management by patients, improve health outcomes. Background: Health policy, in many countries, seeks to engage people with long-term conditions in protecting their health. This review was conducted by members of a working group established by the Department of Health and Diabetes, UK to consider the potential for personalized care planning in UK diabetes services.",
        "Methods": "Review of systematic reviews. The Cochrane Library and Database of Reviews of Effectiveness were searched to identify reviews concerned with components of care planning. Reviews conducted before 1990, and those involving education outside the consultation were excluded. Abstracts were reviewed and data extraction undertaken by reviewers working independently in pairs.",
        "Results": "In all, 86 reviews were identified as potentially relevant and 22 included. Patient-focused interventions, such as pre-consultation prompts, enhanced the role patients played in consultations. Personalized approaches using tailored information influenced health behaviour more than uniform approaches. Decision aids and computerized knowledge management improved the process of decision-making. Although effective communication was important, focusing solely on changing practitioner behaviour appeared inadequate. Taken together, there was good evidence that the processes involved in personalized care planning would engage patients more effectively in managing their care, but little robust research on the impact on health outcomes of doing so.",
        "Conclusions": "The present review identifies effective interventions that are available for clinicians to use in diabetes consultations, but engaging patients requires more than this. Mechanisms to share information and decision-making need further development and evaluation to assess their impact on health outcomes. Narrowly targeted interventions focused on practitioner behaviour appear less effective than whole-system approaches. Personalized care planning offers a mechanism to integrate patient-centred medicine and support for self-management to improve diabetes care."
      }'
      data-component-no=""
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>

    <p
      style="
        font-size: large;
        font-weight: bold;
        background-color: #43484f;
        color: #ffffff;
        padding: 10px;
      "
    >
      Eksempel på en simpel indsættelse af en dansk rapport:
    </p>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="false"
      data-use-a-i-summarizer="false"
      data-ids=""
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons="true"
      data-show-date="false"
      data-date=""
      data-title="National behandlingsvejledning: Diabetes og hjertesygdom"
      data-booktitle=""
      data-vernaculartitle=""
      data-authors="Pietraszek A, Bojer AS, Søndergaard E, Wiggers H, Hansen KB, Bjerregaard-Andersen M, Jørgensen PG"
      data-source="Dansk Cardiologisk Selskab; 2024 [online]"
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link="https://nbv.cardio.dk/diabetes"
      data-hyper-link-text="Læs behandlingsvejledningen"
      data-sectioned-abstract=""
      data-component-no=""
      data-shown-six-authors=""
      data-show-altmetric-badge="false"
      data-show-dimensions-badge="false"
    ></div>
    <p
      style="
        font-size: large;
        font-weight: bold;
        background-color: #43484f;
        color: #ffffff;
        padding: 10px;
      "
    >
      Eksempler MED abstract:
    </p>
    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="33313987"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="1"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="37246403"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="2"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="37290429"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="3"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="35137143"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="4"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="36360447"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="5"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>
    <p
      style="
        font-size: large;
        font-weight: bold;
        background-color: #43484f;
        color: #ffffff;
        padding: 10px;
      "
    >
      Eksempler UDEN abstract:
    </p>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="29792621"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="6"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="32576981"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="7"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>

    <div
      class="specific-articles"
      data-domain="diabetes"
      data-use-a-i="true"
      data-use-a-i-summarizer="true"
      data-ids="39131791"
      data-query=""
      data-query-results=""
      data-sort-method=""
      data-hide-buttons=""
      data-show-date="true"
      data-date=""
      data-title=""
      data-booktitle=""
      data-vernaculartitle=""
      data-authors=""
      data-source=""
      data-abstract=""
      data-doi=""
      data-is-custom-doi=""
      data-language="dk"
      data-hyper-link=""
      data-hyper-link-text=""
      data-sectioned-abstract=""
      data-component-no="8"
      data-shown-six-authors=""
      data-show-altmetric-badge="true"
      data-show-dimensions-badge="true"
    ></div>
 -->

    <script type="module" src="./SpecificArticles.js"></script>
  </body>
</html>
