.qpm_collapsedSection {
    display: none;
}

.qpm_subjectSearchStrings, .qpm_filterSearchStrings {
    border-top: 1px solid var(--color-grey-light);
    width: 100%;
    padding-top: 10px;
    margin: 20px -20px 0 0;
}

.qpm_heading_limits {
    border-top: 1px solid var(--color-grey-medium);
    padding-top: 20px;
    margin-top: 22px;
}

.qpm_searchStringCollection h2.qpm_heading, .qpm_searchStringCollection h2.intext-arrow-link{
    margin-top: 0 !important;
    padding-left: 15px;
}

.qpm_subjectSearchStrings h2.qpm_heading, .qpm_subjectSearchStrings h3.qpm_heading, .qpm_searchGroups h4.qpm_heading, .qpm_filterSearchStrings h2.qpm_heading, .qpm_filterSearchStrings h3.qpm_heading, .qpm_filterGroups h4.qpm_heading {
    margin-top: 10px !important;
    cursor: pointer;
}

.qpm_searchStringCollection h2:hover, .qpm_filterSearchStrings h3:hover, .qpm_subjectSearchStrings h3:hover, .qpm_subjectSearchStrings h4:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.qpm_searchStringCollection h2.intext-arrow-link:before, .qpm_searchStringCollection h3.intext-arrow-link:before, .qpm_searchStringCollection h4.intext-arrow-link:before {
    top: 1px;
}

.qpm_searchStringStringsContainer {
    border: solid var(--color-grey-medium);
    border-width: 1px 0;
    padding: 15px 0;
}

.qpm_subjectSearchStrings, .qpm_searchGroups, .qpm_filterSearchStrings, .qpm_filterGroup, div.qpm_filterGroups, div.qpm_searchSubject {
    margin-left: 30px;
    width: calc(100% - 32px);
}
.qpm_searchGroups.qpm_maintopicDropdown,
.qpm_filterGroups.qpm_maintopicDropdown {
	margin-left: 60px;
}
.qpm_searchGroups.qpm_maintopicDropdown.qpm_subtopicDropdown,
.qpm_filterGroups.qpm_maintopicDropdown.qpm_subtopicDropdown {
	margin-left: 60px;
}
.qpm_searchGroups.qpm_subtopicDropdown.qpm_subtopicDropdownLevel2,
.qpm_filterGroups.qpm_subtopicDropdown.qpm_subtopicDropdownLevel2 {
	margin-left: 60px;
}
.qpm_searchSubject, .qpm_searchFilter {
    margin-bottom: 20px;
}

.qpm_searchSubject table, .qpm_searchFilter table {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
}

.qpm_searchSubject td, .qpm_searchSubject th, .qpm_searchFilter td, .qpm_searchFilter th {
    vertical-align: top;
    text-align: left;
}

.qpm_searchSubject td p.qpm_table_p, .qpm_searchSubject th p.qpm_table_p, .qpm_searchFilter td p.qpm_table_p, .qpm_searchFilter th p.qpm_table_p { 
    margin-bottom: 0 !important;
}


.qpm_searchSubject th:first-child, .qpm_searchFilter th:first-child {
    width: 1%;
}

.qpm_searchSubject .qpm_table td, .qpm_searchFilter .qpm_table td {
    background-color: transparent;
    border-top: solid 1px var(--color-grey-light);
}

.qpm_searchSubject .qpm_table th, .qpm_searchFilter .qpm_table th {
    background-color: var(--color-grey-light);
}

.qpm_table {
    margin-top: 15px !important;
    margin-bottom: 35px !important;
}

.qpm_table .qpm_button {
    color: #ffffff !important;
    width: -webkit-fill-available;
    font-size: 0.8em;
    cursor: help;
}

.qpm_searchStringCollection {
    display: flex;
    flex-direction: column;
}

.background {
    background-color: transparent;
    min-height: 100vh;
}

.qpm_header {
    margin-top: 15px;
    align-self: center;
    width: fit-content;
    border-bottom: solid;
    font-size: 4.5vw;
}

.qpm_showHideAll {
    min-width: 200px !important;
}

.qpm_showHideAll a {
    margin-bottom: 15px;
}


/* Justeringer til mobilskærme */

@media only screen and (max-width: 800px) {
    .qpm_searchSubject, .qpm_filterGroup {
        width: calc(100% + 65px) !important;
        position: relative;
        left: -90px;
    }
}