/* Specific articles/references domain styles */
.qpm_SpecificArticle input {
  color: var(--color-black) !important;
}

/* Specific articles - faktabokse i Umbraco */
.vfd_qpm_specific-articles h2 {
  font-size: 1.3em;
}

.vfd_qpm_specific-articles h2:before {
  left: 0;
  content: "\e914";
  font-family: "icomoon" !important;
  color: var(--color-black);
  font-weight: normal;
  font-size: 32px;
  vertical-align: text-bottom;
  margin-right: 15px;
}

.qpm_SpecificArticle {
  margin-top: 0 !important;
  border-top: 1px solid var(--color-border-soft);
}

.qpm_SpecificArticle .qpm_ResultEntry {
  background-color: var(--color-grey-light);
  padding: 20px 30px 10px 30px;
  margin-left: 0;
}

.qpm_SpecificArticle .qpm_shadow {
  padding: 20px;
}

.qpm_SpecificArticle .qpm_badges {
  margin-right: -10px;
}

.accordion__colored-backgrounds--1-item .qpm_SpecificArticle .qpm_badges {
  margin-right: -10px;
}

.article-wrapper .accordion .accordion-body__contents .qpm_SpecificArticle .qpm_ResultEntry p {
  margin-bottom: 5px !important;
}

.article-wrapper
  .accordion
  .accordion-body__contents
  .qpm_SpecificArticle
  .qpm_abstractWrapper
  div
  > p {
  margin-bottom: 0 !important;
}

.accordion__colored-backgrounds .fact-box,
.accordion__colored-backgrounds .html-comp {
  margin-left: -30px;
  margin-right: -30px;
  width: auto;
}

.accordion__colored-backgrounds .vfd_qpm_specific-articles .fact-box__title,
.accordion__colored-backgrounds .qpm_SpecificArticle .qpm_ResultEntry {
  padding-left: 20px;
  padding-right: 20px;
}

.fact-box .fact-box__title:not(button) h2 {
  font-size: 1.3em;
}

.link--underline-fat-lr
  .accordion-body__contents
  .qpm_SpecificArticle
  .qpm_badges
  a:not(.list__link) {
  border-bottom: 0;
  background: none;
}

@media (max-width: 767.98px) {
  .qpm_SpecificArticle .qpm_ResultEntry {
    padding: 20px 15px 20px 15px;
  }
}
